.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.items{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: 24px;
    list-style: none;
    min-height: 100px;
    height: auto;
}   

.items::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: lightgray;
    width: 100%;
}
.questionContainer{
    width: 90vw;
    position: relative;
    font-weight: 500;
    padding: 1em;
}

.questionContainer:hover{
    opacity:  .7;
}

.answerContainer{
    padding:1em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 7px;
}

.question{
    line-height: 1.5em;
    font-weight: bold;
}

.answer{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    width: 90%;
}

@media(max-width: 1024px){
    .items{
        width: 100% ;
    }
    .questionContainer{
        padding: .5em;
    }
    .answerContainer{
        padding: .5em;
    }
    .question{
        font-size: 18px;
    }
    .answer{
        font-size: 16px;
        text-align: center;

    }
}