
.btn{
    padding-block: 25px;
    padding-inline: 1.5em;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    border-radius: 50px;
    text-transform: uppercase;
    border: gray 1px solid;
    font-family: sans-serif;
    color: white;
    background-color: transparent;
  }
  
  .btn:hover{
    color: whitesmoke;
    transition: .3s;
    }

  @media (max-width: 1024px) {

    .btn{
      font-size: 14px;
      width: 100%;
    }
    
  }
  @media (max-width: 600px) {

    .container{
      width: 100%;
    }
  }