.form{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    gap:20px;
    height: auto;
}
.firstname, .email, .message{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: 500;

}
.submit{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    padding-block: 1.5em;
    border: 1px solid rgba(128, 128, 128, .7);
    align-self: center;
    position: relative;
    margin-top: 60px;

}

.submit:hover{
    background: black;;
    color:white;
    transition: .5s;

}
.textInput, .emailInput, .textArea{
    border: none;
    background-color: transparent;
    height: 50px;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
    color: gray;
    font-family: 'Manrope', sans-serif;
}
.textInput:focus, .emailInput:focus, .textArea:focus{
    outline: none;
}

@media (max-width: 600px){

    .form{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .submit{
        padding: 2em;
        align-self: center;
        width: 80%;
        margin-top: 20px;
    }
    .textInput, .emailInput, .textArea{
        width: 100%;
    }

}