.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;

.logoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    margin-inline: 5%;
    white-space: nowrap;
    overflow: hidden;

    .logo{
        cursor: pointer;
        user-select:  none;
        font-size: 16px;
    }

}
}
.container::after{
    content: '';
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    position: absolute;
    background-color: lightgray;
    bottom: 0;
}
@media(max-width: 1024px){
    .container{
        height: 60px;
        background-color: rgba(255, 255, 255, .7);
        backdrop-filter: blur(10px);
    }

    .container::after{
        width: 90%;
       
    }
}